[Unit]
Description=IgH EtherCAT Diagnostics
Requires=ethercat.service
After=ethercat.service

[Service]
Type=simple
User=root
Environment=IGH_DIAG_MASTERS=0
EnvironmentFile=-/etc/default/igh-ethercat-diagnostics
ExecStart=/usr/local/bin/igh-ethercat-diagnostics --masters ${IGH_DIAG_MASTERS}
StateDirectory=igh-ethercat-diagnostics
WorkingDirectory=/var/lib/igh-ethercat-diagnostics
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
